{#
 # MagicMirror²
 # Module: MMM-OnThisDay
 #
 # By Nikolai Keist (github.com/nkl-kst)
 # MIT Licensed.
 #}

{# Wrapper #}
<div class="{{ config.textSize }}" style="max-width: {{ config.maxWidth }};">

    {% if events | length > 0 %}

        {% if config.reverseOrder %}
            {% set events = events | reverse %}
        {% endif %}

        {% if config.maxEvents %}
            {% set events = events.slice(0, config.maxEvents) %}
        {% endif %}

        {% if config.carousel %}

            {# Carousel mode #}
            <div>{{ events[carouselIndex] }}</div>

        {% else %}

            {# Normal mode #}
            <ul>
                {% for event in events %}
                    <li>{{ event }}</li>
                {% endfor %}
            </ul>

        {% endif %}

    {% else %}

        {# No data #}
        {{ 'TEXT_NODATA' | translate }}

    {% endif %}

</div>
