{#
 # MagicMirror²
 # Module: MMM-OnThisDay
 #
 # By Nikolai Keist (github.com/nkl-kst)
 # MIT Licensed.
 #}

{# Wrapper #}
<div class="{{ config.textSize }}" style="max-width: {{ config.maxWidth }};">

    {% if items %}

        {% if config.reverseOrder %}
            {% set items = items | reverse %}
        {% endif %}

        {% if config.maxEvents %}
            {% set items = items.slice(0, config.maxEvents) %}
        {% endif %}

        <ul>
            {% for item in items %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>

    {% elseif events %}

        {# Data loaded #}
        {{ events | safe }}

    {% else %}

        {# No data #}
        {{ 'TEXT_NODATA' | translate }}

    {% endif %}

</div>
