{#
 # MagicMirror²
 # Module: MMM-OnThisDay
 #
 # By Nikolai Keist (github.com/nkl-kst)
 # MIT Licensed.
 #}

{# Wrapper #}
<div class="{{ config.textSize }}" style="max-width: {{ config.maxWidth }};">

    {% if events | length > 0 %}

        {% if config.reverseOrder %}
            {% set events = events | reverse %}
        {% endif %}

        {% if config.maxEvents %}
            {% set events = events.slice(0, config.maxEvents) %}
        {% endif %}

        {% if config.carousel %}

            {# Progress bar #}
            <progress id="mmm-onthisday-carousel-progress" value="{{ config.carouselInterval / 3 }}" max="{{ config.carouselInterval }}"></progress>

            {# TODO: Update progress bar with inline script #}

            {# Carousel mode #}
            <div>{{ events[carouselIndex] }}</div>

            {# List of years #}
            {% if eventYears | length > 0 %}

                <ul class="event-year-list">
                    {% for year in eventYears %}

                        {% set fontWeight = 'bold' if loop.index0 == carouselIndex else 'light' %}
                        <li class="event-year {{ fontWeight }}">{{ year }}</li>

                    {% endfor %}
                </ul>

            {% endif %}

        {% else %}

            {# Normal mode #}
            <ul>
                {% for event in events %}
                    <li>{{ event }}</li>
                {% endfor %}
            </ul>

        {% endif %}

    {% else %}

        {# No data #}
        {{ 'TEXT_NODATA' | translate }}

    {% endif %}

</div>
